doctype html
html(lang=en)
  head
    meta(name='google-signin-scope', content='profile email')
    meta(name="google-signin-client_id", 
      content="1085953861517-f98qb7d43294d9a0a809v6hf68iqliv9.apps.googleusercontent.com")
    script(src="https://apis.google.com/js/platform.js" async defer)
    link(rel="stylesheet",
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css",
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7",
      crossorigin="anonymous")
    link(rel="stylesheet",
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css",
      integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r",
      crossorigin="anonymous")
    link(rel="stylesheet", href='stylesheets/style.css')
    title #{title}
  body
    div#login.container
      h2.form-sigin-heading Please sign into Google.
      div#google-login.g-signin2(data-onsuccess='onSignIn' data-theme='dark')
    #info.container(style={display:'none'})
      div: img#img(alt='img', src='')
      div: span#given-name
      div: span#family-name
      div: span#email 
      button#logout.btn.btn-primary(type='button') Logout
    script.
      function onSignIn(googleUser) {

        var idToken = googleUser.getAuthResponse().id_token;

        $.ajax({
            url : "/oauth/google",
            headers : {
              'Authorization' : 'Basic ' + btoa("nodejs:nodejs"),
              'x-google-token' : idToken
            },
            method : 'POST',
            success : function(data) {
              var profile = data;
              $("#login").hide();
             
             $('#img').attr("src", profile.profileUrl);
             $('#given-name').text(profile.givenName);
             $('#family-name').text(profile.familyName);
             $('#email').text(profile.email);
             $('#info').show();
            }
        });

      };
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', 
      integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS",
      crossorigin="anonymous")
    script.
      $(document).ready(function() {

        $("#logout").click(function() {
            gapi.auth2.getAuthInstance().signOut();
            $("#login").show();
            $("#info").hide();
        });
      });
